UD4/Actividades/Act1/Mejora/Librería_mejora/Librería_mejora.dtd

<!ELEMENT root (películas)>
<!ELEMENT películas (película*)>
<!ELEMENT película (nombre,director,tema,fechaEstreno,actores,productora)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT tema (#PCDATA)>
<!ELEMENT fechaEstreno (#PCDATA)>
<!ELEMENT actores (ap1:apellido, ap2:apellido, nombre)>
<!ELEMENT actores (actor)>
<!ELEMENT ap1:apellido (#PCDATA)>
<!ELEMENT ap2:apellido (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT ISBN (#PCDATA)>